<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">NAV. PRINCIPAL</li>
        <li><a href="#inicio"><i class="fas fa-home"></i></a></li>
        <li class="treeview">
          <a href="#">
            <i class="far fa-money-bill-alt"></i>
            <span>Ventas</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Turno/List"><i class="fas fa-flag"></i>  Turnos</a></li>
            <li><a href="#Form/Sales Invoice/Nuevo Factura de venta 1"><i class="fas fa-plus-circle"></i>  Nueva Venta</a></li>
            <li><a href="#List/Sales Invoice/List"><i class="fas fa-chart-bar"></i>  Historial de Venta</a></li>
            <li><a href="#List/Sales Order/List"><i class="fas fa-birthday-cake"></i>  Apartados</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fas fa-cubes"></i>
            <span>Inventarios</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Item/List"><i class="octicon octicon-package"></i>  Productos</a></li>
            <li><a href="#List/Stock Reconciliation/List"><i class="fa fa-circle-o"></i>  Ajustes</a></li>
            <li><a href="#List/Stock Entry/List"><i class="octicon octicon-plus"></i>  Movimientos</a></li>
            <li><a href="#stock-balance"><i class="octicon octicon-screen-full"></i>  Estatus/Producto</a></li>
            <li><a href="#List/Captura Inventario/List"><i class="octicon octicon-screen-normal"></i> Captura Lector</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fas fa-female"></i>
            <span>CRM</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Customer/List"><i class="far fa-address-card"></i>  Clientes</a></li>
            <li><a href="#inicio-lux"><i class="fas fa-birthday-cake"></i>  Prog. Lealtad</a></li>
            <li><a href="#inicio-lux"><i class="fas fa-bell"></i>  Push Notif.</a></li>
            <li><a href="#inicio-lux"><i class="fas fa-bullhorn"></i>  SMS</a></li>
            <li><a href="#inicio-lux"><i class="far fa-envelope"></i>  Newsletter</a></li>
            <li><a href="#inicio-lux"><i class="fas fa-certificate"></i>  Tarj. Regalo</a></li>
          </ul>
        </li>
         
        <li class="treeview">
          <a href="#">
            <i class="fas fa-chart-line"></i>
            <span>Reportes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#query-report/Ventas del Dia"> Ventas x Fecha</a></li>
            <li><a href="#query-report/Gross Profit"> Margenes x Producto</a></li>
            <li><a href="#query-report/Sales Invoice Trends"> Comportamiento Ventas</a></li>
            <li><a href="#query-report/Total Stock Summary"><i class="fa fa-table"></i>  Niveles de Inventario</a></li>
            <li><a href="#query-report/Stock Balance"><i class="fa fa-table"></i>  Balance Inventario</a></li>
          </ul>
        </li>

         <li class="treeview">
          <a href="#">
            <i class="far fa-address-card"></i>
            <span>Empleados</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#inicio-lux"><i class="far fa-clock"></i> Reloj Checador</a></li>
            <li><a href="#List/Employee/List"><i class="far fa-user-circle"></i>   Empleados</a></li>            
          </ul>
        </li>

         <li class="treeview">
          <a href="#">
            <i class="fas fa-laptop"></i>
            <span>Web</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#inicio-lux"> Tienda Virtual</a></li>
            <li><a href="#inicio-lux"> Secciones</a></li>
            <li><a href="#inicio-lux"> Temas</a></li>
            <li><a href="#inicio-lux"> Slideshow</a></li>
            
          </ul>
        </li>

        
        
        <li class="treeview">
          <a href="#">
            <i class="fa fa-cog"></i>
            <span>Configuracion</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/User/List"><i class="octicon octicon-person"></i>  Usuarios</a></li>
            <li><a href="#permission-manager"><i class="octicon octicon-organization"></i>  Privilegios</a></li>
            <li><a href="#Form/Tipo%20de%20Cambio/Dolares"><i class="far fa-money-bill"></i>  Tipo de Cambio</a></li>
            <li><a href="#List/POS Profile/List"><i class="octicon octicon-person"></i>  Perfil de Venta</a></li>
            <li><a href="#Tree/Warehouse"><i class="octicon octicon-package"></i>  Almacenes</a></li>
            <li><a href="#List/Caja/List"><i class="far fa-money-bill-alt"></i>  Caja</a></li>
            <li><a href="#List/Letter Head/List"><i class="octicon octicon-diff"></i>  Membrete</a></li>
            <li><a href="#List/Print Heading/List"><i class="octicon octicon-eye"></i>  Encabezado Ticket</a></li>
            <li><a href="#List/Terms and Conditions/List"><i class="octicon octicon-eye"></i>  Pol. Devoluciones</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="far fa-question-circle" style="color:Tomato"></i>
            <span>Ayuda</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>

       <!--  <li>
          <a href="#modules/Setup">
            <i class="fa fa-cog"></i> <span>Configuracion</span>
          </a>
        </li> -->
    </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
<div class="overlay"><div>